@import url('./css/estiloDesign.css');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: var(--cor2);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor1);
    height: 5px;
}

body {
    background-color: var(--cor2);
    
}

.container {
    align-items: center;
    justify-content: center;
    width: 100%;
}